header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding-left: 10px;
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  width: 3em;
}

header img {
  width: 100%;
}

.title {
  font-family: monospace;
  line-height: 70px;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
