body {
  font-family: monospace;
  font-size: 15px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.info-text {
  text-align: center;
  font-size: 18px;
  margin: 0 35px 15px 35px;
}

a, .leaflet-container a {
  text-decoration: none;
  color: #3a045c;
}

body a:hover {
  color: lightgray; 
}

a:visited {
  color: #3a045c;
}

.list-title {
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

.list-value {
  display: inline-block;
}