.ip-radar {
  width: 90%;
  margin: 0 auto;
}

.ip-radar .MuiList-root.MuiList-padding {
  max-width: 40%;
}

.ip-radar nav.MuiList-root.MuiList-padding {
  max-width: 90%;
}

.ip-radar li>span {
  display: inline-block;
  width: 150px;
}

.location-details {
  width: 50%;
}

.date-field {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #252323;
  font-size: 15px;
  margin-left: 15px;
}

.warning {
  font-style: italic;
  color: #7c0606;
}